# Seja ensinável e execute as tarefas compartilhadas. Por fins didáticos e para melhor separação mental das sintaxes Python/R, realizaremos todos os exercícios de Python em R.
![alt text](https://media.giphy.com/media/d3mlE7uhX8KFgEmY/200.gif)

Crie um algoritmo em R que mostre a mensagem "Alo mundo" na tela.

In [18]:
# INSIRA SEU CÓDIGO AQUI
msg <- 'Hello, World!'
msg

[1] "Hello, World!"

Crie um algoritmo em R que peça dois números e imprima a soma.

In [25]:
# INSIRA SEU CÓDIGO AQUI
a <- as.numeric(readline('Digite o primeiro número: '))
b <- as.numeric(readline('Digite o segundo número: '))

soma <- c(a + b)
soma

# de modo simplificado, imprimindo o resultado
print(paste(c(a + b)))

Digite o primeiro número: 7.5
Digite o segundo número: 3.8

[1] 11.3

[1] "11.3"

In [30]:
# outra solução
num_1 <- as.numeric(readline('Digite o primiero número: '))
num_2 <- as.numeric(readline('Digite o segundo número: '))

print(paste('Para a soma dos números', num_1, 'e', num_2, 'o resultado é:', sum(num_1 + num_2)))

Digite o primiero número: 5
Digite o segundo número: 3
[1] "Para a soma dos números 5 e 3 , o resultado é: 8"

Crie um algoritmo em R que peça um número e então mostre a mensagem O número informado foi [número].

In [7]:
# INSIRA SEU CÓDIGO AQUI
x <- as.numeric(readline('Digite um número: '))
print(paste('O número digitado é:', x))

Digite um número: 15
[1] "O número digitado:  15"

Crie um algoritmo em R que converta metros para centímetros.

In [17]:
# INSIRA SEU CÓDIGO AQUI
metro <- as.numeric(readline('Digite o valor em metros: '))
print(paste('O valor de', metro, 'metro(s) em centímetros é', c(metros * 100)))

Digite o valor em metros: 0.99
[1] "O valor de 0.99 metro(s) em centímetros é 100"

Crie um algoritmo em Python que peça as 4 notas bimestrais e mostre a média.

In [40]:
# INSIRA SEU CÓDIGO AQUI
nota_1 <- as.numeric(readline('Digite a primeira nota: '))
nota_2 <- as.numeric(readline('Digite a segunda nota: '))
nota_3 <- as.numeric(readline('Digite a terceira nota: '))
nota_4 <- as.numeric(readline('Digite a quarta nota: '))

paste(c(nota_1 + nota_2 + nota_3 + nota_4) / 4)

media <- paste(c(nota_1 + nota_2 + nota_3 + nota_4) / 4)
paste('Média de:', media)

Digite a primeira nota: 5
Digite a segunda nota: 6
Digite a terceira nota: 4
Digite a quarta nota: 5

[1] "5"

[1] "Média: 5"

Crie um algoritmo em R que peça o raio de um círculo, calcule e mostre sua área.

In [62]:
# INSIRA SEU CÓDIGO AQUI
PI <- 3.1415

raio_circulo <- as.numeric(readline('Digite o raio do círculo (cm): '))
area <- round(PI * (raio_circulo ** 2), 2)
paste('Para raio de', raio_circulo, 'cm, área do círculo é', area, 'cm²')

Digite o raio do círculo (cm): 10.15

[1] "Para raio de 10.15 cm, área do círculo é 323.65 cm²"

Crie um algoritmo em R que calcule a área de um quadrado, em seguida mostre o dobro desta área para o usuário.

In [68]:
# INSIRA SEU CÓDIGO AQUI

base <- as.numeric(readline('Digite a base (cm): '))
altura <- as.numeric(readline('Digite a altura (cm): '))

area_quad <- round(base * altura, 2)
paste('Área do quadrado:', area_quad, 'cm², o seu dobro é:', c(area_quad * 2), 'cm²')

Digite a base (cm): 12.12
Digite a altura (cm): 12.12

[1] "Área do quadrado: 146.89 cm², o seu dobro é: 293.78 cm²"

Crie um algoritmo em R que pergunte quanto você ganha por hora e o número de horas trabalhadas no mês. Calcule e mostre o total do seu salário no referido mês.

In [76]:
# INSIRA SEU CÓDIGO AQUI
valor_hora <- as.numeric(readline('Digite o valor da hora R$: '))
hora_trabalhadas_mes <- as.numeric(readline('Digite a quantidade de horas trabalhadas no mês:  '))

valor_receber <- round(valor_hora * hora_trabalhadas_mes, 2)
paste('Salário do mês é R$ ', valor_receber)

Digite o valor da hora R$: 15.789
Digite a quantidade de horas trabalhadas no mês:  220

[1] "Salário do mês é R$  3473.58"

Crie um algoritmo em R que peça a temperatura em graus Farenheit, transforme e mostre a temperatura em graus Celsius.

    C = (5 * (F-32) / 9).

    C = (°F − 32) x 5 / 9
    F = (°C x 9) / 5 + 32

In [86]:
# INSIRA SEU CÓDIGO AQUI
temp_F <- as.numeric(readline('Digite a temperatura (°F): '))
temp_C <- round((temp_F - 32) * 5 / 9, 2)
paste('A temperatura de', temp_F, '°F é igual a', temp_C, '°C')

Digite a temperatura (°F): 93

[1] "A temperatura de 93 °F é igual a 33.89 °C"

Crie um algoritmo em R que peça a temperatura em graus Celsius, transforme e mostre em graus Farenheit.

In [88]:
# INSIRA SEU CÓDIGO AQUI
temp_C <- as.numeric(readline('Digite a temperatura (°C): '))
temp_F <- round((temp_C * 9) / 5 + 32, 2)
paste('A temperatura de', temp_C, '°C é igual a', temp_F, '°C')

Digite a temperatura (°C): 33.89

[1] "A temperatura de 33.89 °C é igual a 93 °C"

Crie um algoritmo em R que peça 2 números inteiros e um número real. Calcule e mostre:
* a soma do dobro do primeiro com metade do segundo .
* a soma do triplo do primeiro com o terceiro.
* o terceiro elevado ao cubo.

In [93]:
# INSIRA SEU CÓDIGO AQUI
num_int_1 <- as.integer(readline('Digite o primeiro número inteiro: '))
num_int_2 <- as.integer(readline('Digite o segundo número inteiro: '))
num_real <- as.numeric(readline('Digite o número real: '))

resp_1 <- (num_int_1 * 2) + (num_int_2 / 2)
resp_2 <- (num_int_1 * 3) + num_real
resp_3 <- num_real ** 3

paste('A soma do dobro do primeiro número com a metade do segundo é:', resp_1)
paste('A soma do triplo do primeiro número com o terceiro é:', resp_2)
paste('O terceiro número elevado ao cubo é:', resp_3)

Digite o primeiro número inteiro: 6
Digite o segundo número inteiro: 8
Digite o número real: 1.5

[1] "A soma do dobro do primeiro número com a metade do segundo é: 16"

[1] "A soma do triplo do primeiro número com o terceiro é: 19.5"

[1] "O terceiro número elevado ao cubo é: 3.375"