<a href="https://colab.research.google.com/github/FGalvao77/Fundamentos-da-linguagem-R/blob/main/01_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# R
R é um software estatístico/linguagem de programação muito utilizado no campo acadêmico. Domina-lo é requisito essencial para Cientistas de Dados e carreiras adjuntas a esta pois através dele podemos manipular dados, visualiza-los e ainda construir modelos preditivos(I.A), além de poder ainda construir diversas aplicações com o R Markdown(sites, livros online, formulários…).

---

Vantagens R:
+ Open-Source: gratuito e com comunidade cada vez maior e mais ativa;
+ Com uma grande comunidade por conta do fenômeno Open Source, surgem milhares de bibliotecas gratuitas para uso;
+ Multi-plataforma: Windows, Mac, Linux…
+ Já falamos que é requisito para a “profissão mais sexy do século” ?<br>

![Ranking das Linguagens de Programação e suas aplicações do IEE SPECTRUM
](https://secureservercdn.net/198.71.233.197/o9y.9a5.myftpupload.com/wp-content/uploads/ranking-linguagens.png)<br>
Ranking das Linguagens de Programação e suas aplicações do IEE SPECTRUM 2018

## Ambiente de Desenvolvimento
+ RSTUDIO: https://www.rstudio.com/products/rstudio/download/
+ R: https://cloud.r-project.org/
+ Anaconda: https://www.anaconda.com/distribution/

---

Para aumento de produtividade, indicamos o uso das 4 telas no R STUDIO, acessando: <b>View > Panes > Show All Panes</b>
![alt text](https://secureservercdn.net/198.71.233.197/o9y.9a5.myftpupload.com/wp-content/uploads/tela-rstudio2-1024x432.png)

---

Para execução de R no google colab, acesse: https://colab.research.google.com/notebook#create=true&language=r

Para maiores informações acesse https://blog.qoda.com.br/r-em-1-semana-parte-1-de-7/

In [ ]:
x = 3
x

## Conceitos básicos
<b>Declarando variáveis, comentando código e printando na tela:</b>

+ Declare variáveis com = ou <-
+ Utilize # para comentar linhas
+ Utilize print() para executar na tela
+ Utilize readline(prompt=”…”) para receber texto(inputs)

In [ ]:
x = 'Hello, World!'
y <- 'Hi, Fernando!'

In [ ]:
# Print na tela seu primeiro programa em R!
print(x) # retorna Hello, World!
print(y) # retorna Hi, Fernando!

In [ ]:
# z solicitará ao usuário o seu nome e ao preencher armazenará na variável "z"
z = readline('Qual é o seu nome? ')

In [ ]:
z

In [ ]:
print(z)

## Dados e Operadores
3.1 Tipos de Dados(básicos)

+ Character(“Texto”)
Neste tipo inserimos caracteres, podendo ser números, textos, símbolos…;
+ Integer (1L)
Integer se refere a números inteiros e utilizamos o “L” para determina-lo, diferente do Numeric, onde os números são decimais: 1.0 e não 1;
+ Numeric (7.25)
Números decimais, mesmo que declarando-os como 12, o sistema retornará 12.0, por exemplo.
+ Logical (T/F ou TRUE/FALSE)
Tipo de dado com retorno TRUE ou FALSE, assim como T ou F. TRUE quando atendidas as condições e FALSE quando não atendidas. Nos aprofundaremos logo logo neste tipo de dado: tenha paciência.

In [ ]:
# character
caract = "Texto caractere"
class(caract)

In [ ]:
# integer
inteiro = 15L
class(inteiro)

In [ ]:
# numérico
num = 15
class(num)

In [ ]:
# numérico decimal
PI = 3.14
class(PI)

In [ ]:
# lógico
logic = TRUE
class(logic)

## Operadores


>OPERADOR | OPERAÇÃO
>--- | ---
>+ | Adição
>- | Subtração
>* | Multiplicação
>/ | Divisão
>^ ou ** | Exponenciação
>%% | Módulo
>%/% | Divisão inteiros

In [ ]:
# adição
100 + 100

In [ ]:
# subtração
100 - 10

In [ ]:
# multiplicação
100 * 2

In [ ]:
# potenciação
3 ^ 2

In [ ]:
# divisão
10 / 3

In [ ]:
# retorna resto da divisão
10 %% 3

In [ ]:
# retorna a parte inteira da divisão
10 %/% 3

In [ ]:
# extra - raiz quadrada
sqrt(16)

## Estruturas de dados

### Vetor

In [ ]:
vec = 3 
print(class(vec))
is.vector(vec) # retorna TRUE (verdadeiro)

In [ ]:
# para adicionar diversos elementos em 1 vetor, use a função "c()""
vec = c(1,2,3,"texto")
class(vec) # retorna character pois todos elementos serão do mesmo tipo

### Lista (elementos de tipos diferentes)

In [ ]:
# declarando as variáveis "x, y, z" e concatenando em outra variável "lista"
x = c("texto1","texto2")
y =  c(1,2,3)
z = c(T,F,T)
lista = c(x,y,z)

In [ ]:
# imprimindo o resultado das variáveis
print(x)
print(y)
print(z)
print(lista)

In [ ]:
# imprimindo o tipo de cada variável
print(class(x))
print(class(y))
print(class(z))
print(class(lista))

### MATRIZ (todos elementos serão do mesmo tipo)

In [ ]:
# instanciando uma matriz "1 x 2" - uma linha por duas colunas
mat = matrix(c(1,2),nrow=1,ncol=2,byrow = TRUE) 
print(mat)

In [ ]:
mat

In [ ]:
# outro exemplo
# uma matriz "3 x 4" - de três linhas por quatro colunas
outra_mat = matrix(c(1,2,3,4,5,6,7,8,9,0,NaN,NaN), 
                          nrow = 3, ncol = 4, byrow = T)
print(outra_mat)

### DATAFRAME (estrutura para armazenar em forma de tabela)

In [ ]:
x = data.frame(
  # instanciando o nome das colunas
  nome = c('Fernando','Kátia','Sara'),
  idade = c(43L,39L,21L),
  salario = c(2000,0,0))

nrow(x) # retorna número de linhas do dataframe
ncol(x) # retorna número de colunas do dataframe
dim(x) # retorna número de linhas e colunas

In [ ]:
# imprimindo o dataframe
print(x)

In [ ]:
x

In [ ]:
# imprimindo a class da variável "x"
class(x)

## Condicionais
Quando você estiver “qodando”, é importante inserir algumas regras em seu código para que a máquina saiba O QUE fazer, QUANDO fazer e COMO fazer. Assim sendo, temos a figura das CONDICIONAIS, ferramentas essenciais, uma vez que queremos a ação executada apenas se certa condição for atendida. Um exemplo: você sai com guarda-chuva SE acredita que pode chover. Assim sendo você possui 1 condicional para levar o guarda chuva.

### <b>Operadores lógicos</b>

>OPERADOR | LÓGICA
>--- | ---
>< | Menor
>> | Maior
><= | Menor ou igual
>>= | Maior ou igual
>== | Igual
>!= | Diferente
>! | Not(negação)

In [ ]:
# 3 é maior que 0
3 > 0 # retorna TRUE

In [ ]:
# 0 é igual a 0
0 == 0 # retorna TRUE

In [ ]:
# "a" é igual a 1
"a" == 1  # retorna FALSE

In [ ]:
# "ciência de dados" é igual a "ciência de dados"
'ciência de dados' == 'ciência de dados'  # retorna TRUE

### <b>if( )</b>

    if (condicao) {
      comandos executados quando TRUE
    }

In [ ]:
a = 1
b = 100

if (a < b) {  # avaliando se a expressão "a é menor que b"
    print("A é menor que B")  # se for verdade, retorna a mensagem
}

In [ ]:
a = 'Fernando'
b = 43

if (a == b) {  # avaliando se a expressão "a é igual a b"
  print('A é igual a B')  # não é verdade, não retorna a mensagem
}

### <b>if else( )</b>

    if (condicao) {
      comandos executados quando TRUE
    } else {
      comandos executados quando FALSE
    }

In [ ]:
# definindo duas variáveis "a, b", entrada via teclado
# avaliando as entradas e retornando uma mensagem
a = as.integer(readline("Digite um número para A: "))
b = as.integer(readline("Digite outro número, para B: "))

if (a<b) {
  print("A é menor que B")
 } else {
  print("A é maior que B")
}

### <b>ifelse( )</b>

    ifelse(condição,"retorno se TRUE","retorno se FALSE")

In [ ]:
a = as.integer(readline("Digite um número para A: "))
b = as.integer(readline("Digite outro número, para B: "))

ifelse (a > b,"A é maior que B","A é menor que B")

### Desafio condicionais em R
Crie um chatbot simples que pergunte ao usuário sua idade. 
+ Caso sua idade esteja compreendida entre 18 anos ou menos, retorne: você é uma criança!
+ Caso sua idade esteja compreendida entre 19  e 50 anos, retorne: você é um adulto!
+ Caso sua idade esteja compreendida entre 51 anos ou mais, retorne: você é um adulto experiente!

In [ ]:
# solução 1
sua_idade <- as.integer(readline('Digite sua idade: '))

if (sua_idade <= 18) {
  msg <- 'Você é uma criança!'
} else if (sua_idade <= 51) {
  msg <- 'Você é um adulto!'
} else {
  msg <- 'Você é um adulto experiente!'
}

print(msg)

In [ ]:
30 -> x

if (x == 30) {
  res <- "Número igual a 30"
} else if (x > 30) {
    res <- "Número maior que 30"
  } else {
      res <- "Número menor que 30"
    }
print(res)

## Laços de repetição(loops)
While e For

**WHILE SINTAXE**

    while(condição) {
      comandos
    }

In [ ]:
# WHILE NA PRÁTICA
z <- 10

while(z <= 20) { # z é menor e/ou igual a 20
  print(z)  # se condição for verdade imprime o valor de z a cada iteração
  z <- z + 1  # aqui estamos iterando um novo valor ao z até seu valor for menor e/ou igual o que foi definido
}

In [ ]:
z <- 5

while(z < 15) { # z é menor que 15
  z <- z + 1  # aqui estamos interando um novo valor ao z até seu valor for menor que foi definido
  print(z)  # a cada iteração e atendo a condicioanal será impressa um novo valor de z
}

In [ ]:
# para finalizar, vamos para mais um exemplo
z <- 8

while (z > 9) { # z é maior que 9
  # se condição for verdade, o valor iterado de z é impresso
  z <- z + 1
  print(z)
}

**Perceba que, nada é impresso. Já que a condição não é verdadeira!**

**FOR SINTAXE**

    for (x in y) {
      comandos
    }

In [ ]:
# FOR NA PRÁTICA
for (x in 1:20) { # para x entre 1 e 20
  print(x)  # impimir o x
}

In [ ]:
# outro exemplo
for (i in 5:10) {
  print(i)
}

In [ ]:
# podemos também definir via entrada do teclado qual o início e fim da iteração
x = as.integer(readline('Digite um número inteiro (início): '))
y = as.integer(readline('Digite um número inteiro (fim): '))

for (i in x:y) {
  print(i)
}

In [ ]:
# criando um for que executa uma operação arimética
x = as.integer(readline('Digite um número inteiro (início): '))
y = as.integer(readline('Digite um número inteiro (fim): '))

for (i in x:y) {
  i <- x + y
}

print(i)

## Funções
Funções nada mais são do que blocos de código “encapsulados” onde você armazena uma lista de instruções e posteriormente, utilizando o nome da função em seu código, você a chama para execução inserindo alguns parâmetros se necessário.

Temos as funções “R base”, ou seja, aquelas que já são carregadas de forma nativa junto ao R como a função “mean()” que calcula a média, por exemplo, entre outras diversas:

In [ ]:
# FUNÇÕES R BASE
x = c(1,2,3,4,5,6,7,8,9,10)

In [ ]:
sd(x) # desvio padrão

In [ ]:
mean(x) # média

In [ ]:
median(x) # mediana

In [ ]:
summary(x)  # informações estatíticas

In [ ]:
quantile(x)   # visualizando os quartis

Vamos instanciar um dataframe em uma variável, para isso usaremos um já conhecido  o`iris`

In [ ]:
# instanciando o "iris" na variável "df_iris"
df_iris <- iris

In [ ]:
# visualizando as 6 primeiras linhas
print(head(df_iris))

In [ ]:
# se preferir, através de "n = x", pode passar como argumento a quantidade de linhas para exibição 
# nesse caso, queremos somente as 3 primeiras linha "n = 3"
head(df_iris, n = 3)

In [ ]:
# visualizando as 6 últimas linhas 
tail(df_iris)

In [ ]:
# visualizando a quantidade de linhas e colunas
print(nrow(df_iris))  # "nrow" - linhas
print(ncol(df_iris))  # "ncol" - colunas

In [ ]:
#  nome das colunas
colnames(df_iris)

In [ ]:
# índice das linhas
row.names(df_iris)

In [ ]:
# dados estatísticos do dataframe
summary(df_iris)

In [ ]:
# dados estatísticos de uma coluna específica
summary(df_iris$Petal.Length)

O dataframe `iris`, como outros, já vem embutido no próprio R.
Portanto, você pode chamá-lo direto.

Segue abaixo.

In [ ]:
head(iris) # primeiras linhas dataframe

In [ ]:
tail(iris) # últimas linhas dataframe

In [ ]:
file.choose() # abre pasta para caminho de arquivos, utilize no RSTUDIO!

In [ ]:
# outro dataframe embutido no R -"mtcars"
head(mtcars)

In [ ]:
# dados estatísticos
summary(mtcars)

In [ ]:
# visualizando as correlações entre as variáveis
cor(mtcars)

### Criação de funções
Podemos criar nossas próprias funções em R de forma simples e intuitiva.

In [ ]:
porcentagem <- function(num, por) {
  num <- as.integer(readline(prompt="Digite o número para cálculo: "))
  por <- as.integer(readline(prompt="Agora digite a porcentagem que gostaria de descobrir deste número: "))
  return(num * por/100)
}
porcentagem()

##### Criamos uma função chamada “porcentagem”. Nela inserimos 2 parâmetros para funcionamento: “num”, que se refere ao número alvo, e “por”, referente a porcentagem a ser calculada. Desta forma utilizamos o “readline()” para pedir os números ao usuário e ao término lhe entregar o calculo de sua porcentagem. Por fim, apenas executamos a função e ela começa a interagir com o usuário.

**Outro exemplo**

In [ ]:
# função aritmética - soma
soma <- function(num_1, num_2) {
  num_1 <- as.numeric(readline('Digite o primeiro número: '))
  num_2 <- as.numeric(readline('Digite o segundo número: '))
  return(num_1 + num_2)
}

soma()

In [ ]:
# função aritmética - raiz quadrada
raiz_quadrada <- function(number) {
  number <- as.numeric(readline('Digite o número que deseja saber a raiz quadrada: '))
  return(sqrt(number))
}

print(raiz_quadrada())

In [ ]:
# calculo da área de um retângulo
area <- function(x, y) {
  x <- as.numeric(readline('Digite o valor de x: '))
  y <- as.numeric(readline('Digite o valor de y: '))
  return(x * y)
}

area()

## Pacotes
Pacotes nada mais são que códigos prontos de terceiros, criados para solucionar problemas específicos ao implementar novas funções ao seu código R. Temos pacotes para Machine Learning, Matemática, Web Scraping, Desenvolvimento Web e outros milhares e aqui está o grande trunfo do movimento Open-Source: produção de pacotes em massa.


---


<b>Onde encontrar pacotes? há 3 formas, via RStudio:</b>

1. CRAN
Via linha de comando no próprio console RStudio com:
install.packages(“nome-do-pacote”,dependencies=TRUE)

2. Manualmente, no CRAN formato .zip ou .tar.gz;
no menu do Rstudio selecione Menu Tools > Install Packages > Install packages from pacage arquive file e selecione o pacote escolhido.

3. No R Studio, na tela 4, em “Packages”: busque, selecione e clique em “install”.

In [ ]:
# instalando pacote
install.packages("ggplot2", dependencies=TRUE)

# carrega pacote para ser utilizado no código
library(ggplot2)

### Tidyverse
Conjunto de pacotes focados em análise de dados

In [ ]:
install.packages('tidyverse') 

# instalará: 
# ✔ ggplot2 (gráficos)
# ✔ purrr (programação funcional)
# ✔ tibble (criação dataframes)
# ✔ dplyr (manipulação de dataframes)
# ✔ tidyr (transformação de dataframes)
# ✔ stringr (lida com strings e regex)
# ✔ readr (leitura dados retangulares: csv, tsv...)  
# ✔ forcats (lida com fatores) fatores são estruturas de dados utilizadas para ordenar strings

### GGPLOT2
https://github.com/rstudio/cheatsheets/blob/master/data-visualization-2.1.pdf
>TIPO | OBJETO
>--- | ---
>Dispersão (scatterplot) | geom_point()
>Gráfico de bolhas | geom_point()
>Histograma | geom_histogram()
>Boxplot | geom_boxplot()
>Densidade | geom_density()
>Gráfico de linhas | geom_line()

In [ ]:
# listando todos datasets do R base
data(package = .packages(all.available = TRUE))
# ou apenas data()

    ggplot(data = <DATA>) + 
      <GEOM_FUNCTION>(
        mapping = aes(<MAPPINGS>),
        stat = <STAT>, 
        position = <POSITION>
      ) +
      <COORDINATE_FUNCTION> +
      <FACET_FUNCTION> # dividir o gráfico em subplots

In [ ]:
# SCATTERPLOT ou gráfico de dispersão
library(tidyverse)
# displ: o tamanho do motor de um carro, em litros.
# hwy: a eficiência de combustível de um carro na estrada, em milhas por galão (mpg). 
ggplot(data = mpg) + geom_point(mapping = aes(x = displ, y = hwy))

In [ ]:
# exibindo a variável "mpg"
mpg

In [ ]:
# GRÁFICO DE BARRAS
ggplot(diamonds, aes(x = cut)) +
  geom_bar()

###DPLYR
https://github.com/rstudio/cheatsheets/blob/master/data-transformation.pdf

Pacote mais utilizado para transformação de dados.<br>
Funções principais:
> Função | Objetivo
>--- | ---
>filter() | filtra linhas
>select() | seleciona colunas
>mutate() | cria/modifica colunas
>arrange() | ordena a base
>summarise() | sumariza a base

In [ ]:
library(dplyr)      # chamando o pacote
mtcars %>%          # usando a função pipe
  filter(mpg > 20)  # aplicando uma condicional -  mpg maior que 20

In [ ]:
mtcars %>%    # aplicando o pipe
  select(mpg) # selecionando somente a coluna "mpg"

In [ ]:
 mtcars %>%   # aplicando o pipe
  mutate(
    economy = ifelse(mpg>20,"CARRO ECONÔMICO","CARRO BEBERRÃO")   # aplicando uma condicional e instanciando uma descrição
  ) %>%   # alicando novamente o pipe
  select(mpg, economy)  # selecionando as colunas "mpg" e "economy"

In [ ]:
 # aplicando o pipe
 mtcars %>% 
  arrange(mpg) %>%  # "arrange()" ordena as linhas de um quadro de dados pelos valores das colunas selecionadas
  select(everything())  # selecionando todas as colunas

In [ ]:
# aplicando o pipe
mtcars %>%
  arrange(hp) %>% # "arrange()"" ordena as linhas de um quadro de dados pelos valores das colunas selecionadas
  select(everything()) # selecionando todas as colunas

In [ ]:
# aplicando o pipe
mtcars %>%
  arrange(hp) %>% # arrange() ordena as linhas de um quadro de dados pelos valores das colunas selecionadas
  select(hp, mpg) # selecionando as colunas "hp" e "mpg"

In [ ]:
 mtcars %>%   
  # com a função "summarise()", estamos sumarizando 
   # instanciando na variável "media_mpg", a média de consumo (mpg)
  summarise(media_mpg = mean(mpg, na.rm=TRUE))

###TIBBLE
Tibbles são como dataframes, entretanto, apresentam melhorias de produtividade.

###TIDYR
funções principais: gather() e spread()

In [ ]:
# chamando os pacotes necessários
library(tibble)
library(tidyr)

# instanciando manualmente um dataframe usando o tibble
df <- tibble(w = 1, x = 2, y = 3) # variáveis e seus respectivos valores
z = gather(df, "variavel", "valor") # concatenando do df com nome da colunas, utilizando o gather e salvando na variável "z"
z # imprimindo objeto criado "z"

In [ ]:
class(z)

In [ ]:
df

In [ ]:
print(z)

In [ ]:
z

In [ ]:
z2 = spread(z, "variavel","valor")
z2

In [ ]:
print(z2)

In [ ]:
# chamando os pacotes necessários
library(tibble)
library(tidyr)

# instanciando manualmente um dataframe
df_familia <- tibble('Fernando' = 1977, 'Kátia' = 1980, 'Sara' = 2000, 'Eloah' = 2007) # variáveis e seus respectivos valores
familia = gather(df_familia, 'nome', 'ano') # nome da colunas
familia

In [ ]:
print(df_familia)

In [ ]:
print(familia)

In [ ]:
nome_ano = spread(familia, 'nome','ano')
nome_ano

###STRINGR

In [ ]:
# chamando o pacote "stringr"
# ideal para trabalhar com string
library(stringr)

In [ ]:
# contando os caracteres na variável "texto"
texto = "Este é um texto para simples conferência de caracteres."
str_length(texto)

In [ ]:
# colocando toda variável em caixa alta
str_to_upper(texto)

In [ ]:
# variável em caixa baixa
str_to_lower(c('FERNANDO GALVÃO'))

In [ ]:
# variável com as inicias em caixa alta
nome_completo <- 'fernando galvão'
str_to_title(c(nome_completo))

In [ ]:
s1 = "Minha idade é"
s2 = " "
s3 = "59 anos."
str_c(s1,s2,s3) # concatenando as variáveis

In [ ]:
var_01 <- 'A linguagem R'
var_02 <- ' '
var_03 <- 'é poderosa'
var_04 <- '!'
str_c(var_01, var_02, var_03, var_04)

In [ ]:
'Fernando' -> firstName
' ' -> space 
'Galvão' -> lastName

fullName <- str_c(firstName, space, lastName)
print(fullName)

In [ ]:
'fernando' -> firstName
' ' -> space 
'galvão' -> lastName

fullName <- str_c(firstName, space, lastName)
print(str_to_title(fullName))

###READR
Realiza leitura de dados nos formatos .txt, .csv, .fwf e .log, 10x mais veloz que os comandos usuais. Não há necessidade de converter caracteres em fatores(stringAsFactors = FALSE)

https://rawgit.com/rstudio/cheatsheets/master/data-import.pdf

In [ ]:
library(readr)

    read_delim(), read_csv(), read_tsv(), 
    read_csv2(), read_fwf(), read_table(), 
    read_log(), read_file() ## lê um arquivo em uma *string*.

## Pipe %>%


---

O operador %>% (pipe) veio para tornar a leitura de códigos mais legível/compreensível. Foi introduzido junto ao pacote magrittr e já existem outros pacotes criados para sua utilização

De inicio, vamos instalar e carregar o magrittr:

In [ ]:
install.packages("magrittr")
library(magrittr)

    funcao(a, b)  # sem pipe
    
    a %>% f(b) # operador pipe

In [ ]:
# raiz quadrada sem uso do pipe
a <- c(1, 2, 3, 4)
sqrt(sum(a))

In [ ]:
# raiz quadrada com uso do pipe
a %>% sum() %>% sqrt()

In [ ]:
# instanciando quatro valores
valores <- c(43, 39, 21, 13)

In [ ]:
# somando os valores e gerando a média
sum(mean(valores)) # sem o uso do pipe

In [ ]:
# somando os valores e gerando a média
valores %>% mean() %>% sum() # com uso do pipe

In [ ]:
# entrada dos dados via teclado
v_1 <- as.numeric(readline('Digite o primeiro valor: '))
v_2 <- as.numeric(readline('Digite o segundo valor: '))
v_3 <- as.numeric(readline('Digite o terceiro valor: '))
v_4 <- as.numeric(readline('Digite o quarto valor: '))

media <- c(v_1, v_2, v_3, v_4)      # instanciando os valores na variável "media"
media %>% mean() %>% sum()          # utilizando o pipe para gerar o resultado - imprimindo a média dos valores
print(media %>% mean() %>% sum())   # utilizando o pipe para gerar o resultado - imprimindo a média dos valores

In [ ]:
# entrada dos dados via teclado
v_1 <- as.numeric(readline('Digite o primeiro valor: '))
v_2 <- as.numeric(readline('Digite o segundo valor: '))
v_3 <- as.numeric(readline('Digite o terceiro valor: '))
v_4 <- as.numeric(readline('Digite o quarto valor: '))

# código simplificado - utilizando o pipe para gerar o resultado
sum(c(v_1, v_2, v_3, v_4) %>% mean())           # imprimindo a média dos valores
print(sum(c(v_1, v_2, v_3, v_4) %>% mean()))    # imprimindo a média dos valores